# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

dist/
deploy_versions/
.temp/
.rn_temp/
.DS_Store
lib/
yarn-error.log
echarts.js

.swc/